html, body {
  width: 250px;
}

.hidden {
  display: none;
}

.button {
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.onOffContainer {
  border: 1px solid black;
  display: table;
  width: 40%;
}

.onOff:hover {
  background-color: #CFF2F2;
}

.onOff {
  background-color: #E5F2F2;
  float: left;
}

#on {
  width: 50%;
}

#off {
  width: 50%
}

.blockedListContainer {
  margin-top: 30px;
  width: 100%;
}

.blockedListTitle {
  text-align: center;
  font-weight: 1000;
  font-size: 20px;
}

.blockedList:hover {
  background-color: #CFF2F2;
}

.blockedListInput {
  background-color: #E5F2F2;
  float: left;
  height: 20px;
  border: 1px solid black;
}

.blockedListInputContainer {
  display: table;
}

#blockedListInput {
  float: left;
}

.blockedListItemContainer {
  margin-top: 10px;
  width: 100%;
}

.blockedListItem {
  display: table;
  width: 100%;
  border-bottom: 1px solid grey;
  margin-top: 5px;
}

.blockedListItemAdd {
  float: right;
  height: 15px;
}

.blockedListItemEntity {
  float: left;
}