html, body {
    width: 100px;
  }
  
  .hidden {
    display: none;
  }
  
  .button {
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .onOff:hover {
    background-color: #CFF2F2;
  }
  
  .onOff {
    background-color: #E5F2F2;
    float: left;
  }
  
  .reset {
    background-color: #FBFBC9;
  }
  
  .reset:hover {
    background-color: #EAEA9D;
  }

  .onOffContainer {
    border: 1px solid black;
    display: table;
    width: 100%;
  }

  #on {
    width: 50%;
  }

  #off {
    width: 50%
  }
  